In [1]:

import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.colors as colors
import json
from pandas import ExcelWriter

In [2]:
path = ""
def carregant_dades():
    with open(path + 'DT_oferta.json', 'r') as outfile:
        list_of_df = [pd.DataFrame.from_dict(item) for item in json.loads(outfile.read())]
    shapefile_prov = gpd.read_file(path + "Provincias.geojson")
    shapefile_prov = shapefile_prov[shapefile_prov["NAME_1"]=="Cataluña"]
    bbdd_estudi_prom = list_of_df[0].copy()
    bbdd_estudi_hab = list_of_df[1].copy()
    bbdd_estudi_prom_2023 = list_of_df[2].copy()
    bbdd_estudi_hab_2023 = list_of_df[3].copy()
    mun_2018_2019 = list_of_df[4].copy()
    mun_2020_2021 = list_of_df[5].copy()
    mun_2022 = list_of_df[6].copy()
    mun_2023 = list_of_df[7].copy()
    maestro_estudi = list_of_df[8].copy()
    dis_2018_2019 = list_of_df[9].copy()
    dis_2020_2021 = list_of_df[10].copy()
    dis_2022 = list_of_df[11].copy()
    dis_2023 = list_of_df[12].copy()
    table117_22 = list_of_df[13].copy()
    table121_22 = list_of_df[14].copy()
    table125_22 = list_of_df[15].copy()
    table117_23 = list_of_df[16].copy()
    table121_23 = list_of_df[17].copy()
    table125_23 = list_of_df[18].copy()
    return([bbdd_estudi_prom, bbdd_estudi_hab, bbdd_estudi_prom_2023, bbdd_estudi_hab_2023, mun_2018_2019, mun_2020_2021,
            mun_2022, mun_2023, maestro_estudi, dis_2018_2019, dis_2020_2021, dis_2022, dis_2023, table117_22,
            table121_22, table125_22, table117_23, table121_23, table125_23, shapefile_prov])


bbdd_estudi_prom, bbdd_estudi_hab, bbdd_estudi_prom_2023, bbdd_estudi_hab_2023, \
mun_2018_2019, mun_2020_2021, mun_2022, mun_2023, maestro_estudi, dis_2018_2019, \
dis_2020_2021, dis_2022, dis_2023, table117_22, table121_22, table125_22, table117_23, \
table121_23, table125_23, shapefile_prov = carregant_dades()


#

In [3]:
maestro_corones = pd.read_excel("Maestro_corones.xlsx", sheet_name="Maestro_corones").rename(columns={"Municipi":"GEO"})
maestro_corones

                                               Corones                     GEO
0                                            Barcelona               Barcelona
1                                       Primera Corona                Badalona
2                                       Primera Corona           Castelldefels
3                                       Primera Corona   Cornellà de Llobregat
4                                       Primera Corona  Esplugues de Llobregat
..                                                 ...                     ...
113  Municipis de l'Àmbit territorial Camp de Tarra...                    Reus
114  Municipis de l'Àmbit territorial Camp de Tarra...               Tarragona
115  Municipis de l'Àmbit territorial Camp de Tarra...                   Valls
116  Municipis de l'Àmbit territorial Camp de Tarra...             Móra d'Ebre
117  Municipis de l'Àmbit territorial Camp de Tarra...                 Tortosa

[118 rows x 2 columns]

In [4]:
def import_hist_mun(df_1819, df_2021, df_22, df_23, maestro_df):
    # mun_2018_2019 = pd.read_excel(path + "Resum 2018 - 2019.xlsx", sheet_name="Municipis 2018-2019")
    mun_2018_2019 = df_1819.copy()
    mun_2019 = mun_2018_2019.iloc[:,14:27]

    # mun_2020_2021 = pd.read_excel(path + "Resum 2020 - 2021.xlsx", sheet_name="Municipis")
    mun_2020_2021 = df_2021.copy()
    mun_2020 = mun_2020_2021.iloc[:,:13]
    mun_2020 = mun_2020.dropna(how ='all',axis=0)
    mun_2021 = mun_2020_2021.iloc[:,14:27]
    mun_2021 = mun_2021.dropna(how ='all',axis=0)

    # mun_2022 = pd.read_excel(path + "Resum 2022.xlsx", sheet_name="Municipis")
    mun_2022 = df_22.copy()
    mun_2022 = mun_2022.iloc[:,14:27]
    mun_2022 = mun_2022.dropna(how ='all',axis=0)

    # mun_2023 = pd.read_excel(path + "Resum 2023.xlsx", sheet_name="Municipis")
    mun_2023 = df_23.copy()
    mun_2023 = mun_2023.iloc[:,14:27]
    mun_2023 = mun_2023.dropna(how ='all',axis=0)

    # maestro_estudi = pd.read_excel(path + "Maestro estudi_oferta.xlsx", sheet_name="Maestro")
    maestro_estudi_aux = maestro_df.copy()

    return([mun_2019, mun_2020, mun_2021, mun_2022, mun_2023, maestro_estudi_aux])
mun_2019, mun_2020, mun_2021, mun_2022, mun_2023, maestro_estudi_aux = import_hist_mun(mun_2018_2019, mun_2020_2021, mun_2022, mun_2023, maestro_estudi)

In [5]:
maestro_estudi = pd.merge(maestro_estudi_aux.drop("Corones", axis=1), maestro_corones, how="left", on="GEO")
maestro_estudi

,GEO,Àmbits territorials,Comarques,Província,codiine,Corones
0,Catalunya,Catalunya,Catalunya,Catalunya,NaN,NaN
1,Total general,Catalunya,Catalunya,Catalunya,NaN,NaN
2,Barcelona,Metropolità,Barcelonès,Barcelona,8019.0,Barcelona
3,"Hospitalet de Llobregat, l'",Metropolità,Barcelonès,Barcelona,8101.0,Primera Corona
4,Terrassa,Metropolità,Vallès Occidental,Barcelona,8279.0,Tercera Corona
...,...,...,...,...,...,...
132,Móra d'Ebre,Terres de l'Ebre,Ribera d'Ebre,Tarragona,43093.0,Municipis de l'Àmbit territorial Camp de Tarra...
133,Gandesa,Terres de l'Ebre,Terra Alta,Tarragona,43064.0,NaN
134,Falset,Camp de Tarragona,Priorat,Tarragona,43055.0,NaN
135,"Pont de Suert, el",Alt Pirineu i Aran,Alta Ribagorça,Lleida,25173.0,NaN
136,Sort,Alt Pirineu i Aran,Pallars Sobirà,Lleida,25209.0,NaN

In [6]:
def tidy_data(mun_year, year):
    df =mun_year.T
    df.columns = df.iloc[0,:]
    df = df.iloc[1:,:].reset_index()
    df.columns.values[:3] = ['Any', 'Tipologia', "Variable"]
    df['Tipologia'] = df['Tipologia'].ffill()
    df['Any'] = year
    geo = df.columns[3:].values
    df_melted = pd.melt(df, id_vars=['Any', 'Tipologia', 'Variable'], value_vars=geo, value_name='Valor')
    df_melted.columns.values[3] = 'GEO'
    return(df_melted)
def weighted_mean(data):
    weighted_sum = (data['Valor'] * data['Unitats']).sum()
    sum_peso = data['Unitats'].sum()
    # data["Valor"] = weighted_sum / sum_peso
    return weighted_sum / sum_peso

def geo_mun():
    df_vf_aux = pd.DataFrame()

    for df_frame, year in zip(["mun_2019", "mun_2020", "mun_2021", "mun_2022", "mun_2023"], [2019, 2020, 2021, 2022, 2023]):
        df_vf_aux = pd.concat([df_vf_aux, tidy_data(eval(df_frame), year)], axis=0)


    df_vf_aux['Variable']= np.where(df_vf_aux['Variable']=="Preu de     venda per      m² útil (€)", "Preu de venda per m² útil (€)", df_vf_aux['Variable'])
    df_vf_aux['Valor'] = pd.to_numeric(df_vf_aux['Valor'], errors='coerce')
    df_vf_aux['GEO'] = np.where(df_vf_aux['GEO']=="Municipis de Catalunya", "Catalunya", df_vf_aux['GEO'])
    df_vf_aux = df_vf_aux[~df_vf_aux['GEO'].str.contains("província|Província|Municipis")]

    df_vf_merged = pd.merge(df_vf_aux, maestro_estudi, how="left", on="GEO")
    df_vf_merged = df_vf_merged[~df_vf_merged["Província"].isna()].dropna(axis=1, how="all")
    df_vf = df_vf_merged[df_vf_merged["Variable"]!="Unitats"]
    df_unitats = df_vf_merged[df_vf_merged["Variable"]=="Unitats"].drop("Variable", axis=1)
    df_unitats = df_unitats.rename(columns={"Valor": "Unitats"})
    # df_vf[df_vf["Província"].isna()]["GEO"].unique()
    df_final_cat = pd.merge(df_vf, df_unitats, how="left")
    df_final = df_final_cat[df_final_cat["GEO"]!="Catalunya"]
    df_final_cat_aux1 = df_final_cat[df_final_cat["GEO"]=="Catalunya"][["Any", "Tipologia", "Variable","Valor"]]
    cat_df_aux2_melted = pd.melt(df_final_cat[df_final_cat["GEO"]=="Catalunya"][["Any", "Tipologia", "Unitats"]], id_vars=["Any", "Tipologia"], var_name="Variable", value_name="Unitats")
    cat_df_aux2_melted["Unitats"] = cat_df_aux2_melted["Unitats"].astype("int64")
    cat_df_aux2_melted = cat_df_aux2_melted.rename(columns={"Unitats":"Valor"})
    df_final_cat = pd.concat([df_final_cat_aux1, cat_df_aux2_melted], axis=0)


    ambits_df_aux1 = df_final.groupby(["Any", "Tipologia", "Variable", "Àmbits territorials"]).apply(weighted_mean).reset_index().rename(columns= {0:"Valor"})
    ambits_df_aux2 = df_final[["Any","Àmbits territorials","Tipologia", "GEO", "Unitats"]].drop_duplicates(["Any","Àmbits territorials","Tipologia", "GEO", "Unitats"]).groupby(["Any", "Àmbits territorials", "Tipologia"]).sum().reset_index()
    ambits_df_aux2_melted = pd.melt(ambits_df_aux2, id_vars=["Any", "Tipologia", "Àmbits territorials"], var_name="Variable", value_name="Unitats")
    ambits_df_aux2_melted["Unitats"] = ambits_df_aux2_melted["Unitats"].astype("int64")
    ambits_df_aux2_melted = ambits_df_aux2_melted.rename(columns={"Unitats":"Valor"})
    ambits_df = pd.concat([ambits_df_aux1, ambits_df_aux2_melted], axis=0)
    ambits_df = ambits_df.rename(columns={"Àmbits territorials":"GEO"})

    comarques_df_aux1 = df_final.groupby(["Any", "Tipologia", "Variable", "Comarques"]).apply(weighted_mean).reset_index().rename(columns= {0:"Valor"}).dropna(axis=0)
    comarques_df_aux2 = df_final[["Any","Comarques","Tipologia", "GEO", "Unitats"]].drop_duplicates(["Any","Comarques","Tipologia", "GEO", "Unitats"]).groupby(["Any", "Comarques", "Tipologia"]).sum().reset_index()
    comarques_df_aux2_melted = pd.melt(comarques_df_aux2, id_vars=["Any", "Tipologia", "Comarques"], var_name="Variable", value_name="Unitats")
    comarques_df_aux2_melted["Unitats"] = comarques_df_aux2_melted["Unitats"].astype("int64")
    comarques_df_aux2_melted = comarques_df_aux2_melted.rename(columns={"Unitats":"Valor"})
    comarques_df = pd.concat([comarques_df_aux1, comarques_df_aux2_melted], axis=0)
    comarques_df = comarques_df.rename(columns={"Comarques":"GEO"})


    provincia_df_aux1 = df_final.groupby(["Any", "Tipologia", "Variable", "Província"]).apply(weighted_mean).reset_index().rename(columns= {0:"Valor"})
    provincia_df_aux2 = df_final[["Any","Província","Tipologia", "GEO", "Unitats"]].drop_duplicates(["Any","Província","Tipologia", "GEO", "Unitats"]).groupby(["Any", "Província", "Tipologia"]).sum().reset_index()
    provincia_df_aux2_melted = pd.melt(provincia_df_aux2, id_vars=["Any", "Tipologia", "Província"], var_name="Variable", value_name="Unitats")
    provincia_df_aux2_melted["Unitats"] = provincia_df_aux2_melted["Unitats"].astype("int64")
    provincia_df_aux2_melted = provincia_df_aux2_melted.rename(columns={"Unitats":"Valor"})
    provincia_df = pd.concat([provincia_df_aux1, provincia_df_aux2_melted], axis=0)
    provincia_df = provincia_df.rename(columns={"Província":"GEO"})

    return([df_vf_aux, df_vf, df_final_cat, df_final, ambits_df, comarques_df, provincia_df])

df_vf_aux, df_vf, df_final_cat, df_final, ambits_df, comarques_df, provincia_df = geo_mun()

C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:39: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  cat_df_aux2_melted = pd.melt(df_final_cat[df_final_cat["GEO"]=="Catalunya"][["Any", "Tipologia", "Unitats"]], id_vars=["Any", "Tipologia"], var_name="Variable", value_name="Unitats")
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:16: RuntimeWarning: invalid value encountered in scalar divide
  return weighted_sum / sum_peso
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:46: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ambits_df_aux2 = df_final[["Any","Àmbits territorials","Tipologia", "GEO", "Unitats"]].drop_duplicates(["Any","Àmbits territorials","Tipologia", "GEO", "Unitats"]).groupby(["Any", "Àmbits territorials", "Tipologia"]).sum().reset_index()
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:47: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  ambits_df_aux2_melted = pd.melt(ambits_df_aux2, id_vars=["Any", "Tipologia", "Àmbits territorials"], var_name="Variable", value_name="Unitats")
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:16: RuntimeWarning: invalid value encountered in scalar divide
  return weighted_sum / sum_peso
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:54: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  comarques_df_aux2 = df_final[["Any","Comarques","Tipologia", "GEO", "Unitats"]].drop_duplicates(["Any","Comarques","Tipologia", "GEO", "Unitats"]).groupby(["Any", "Comarques", "Tipologia"]).sum().reset_index()
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:55: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  comarques_df_aux2_melted = pd.melt(comarques_df_aux2, id_vars=["Any", "Tipologia", "Comarques"], var_name="Variable", value_name="Unitats")
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:63: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  provincia_df_aux2 = df_final[["Any","Província","Tipologia", "GEO", "Unitats"]].drop_duplicates(["Any","Província","Tipologia", "GEO", "Unitats"]).groupby(["Any", "Província", "Tipologia"]).sum().reset_index()
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:64: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  provincia_df_aux2_melted = pd.melt(provincia_df_aux2, id_vars=["Any", "Tipologia", "Província"], var_name="Variable", value_name="Unitats")

In [7]:
df_final[(df_final["Corones"]=="Municipis turístics Mar Nord. Girona") & (df_final["Any"].isin([2022,2023]))][["Any", "GEO"]].drop_duplicates()

       Any                    GEO
3267  2022  Calonge i Sant Antoni
3303  2022             Escala, l'
3384  2022                  Roses
3420  2022   Torroella de Montgrí
4419  2023  Calonge i Sant Antoni
4446  2023             Escala, l'
4518  2023                  Roses
4554  2023   Torroella de Montgrí

In [8]:
corones_df_aux1 = df_final.groupby(["Any", "Tipologia", "Variable", "Corones"]).apply(weighted_mean).reset_index().rename(columns= {0:"Valor"})
corones_df_aux2 = df_final[["Any","Corones","Tipologia", "GEO", "Unitats"]].drop_duplicates(["Any","Corones","Tipologia", "GEO", "Unitats"]).groupby(["Any", "Corones", "Tipologia"]).sum().reset_index()
corones_df_aux2_melted = pd.melt(corones_df_aux2, id_vars=["Any", "Tipologia", "Corones"], var_name="Variable", value_name="Unitats")
corones_df_aux2_melted["Unitats"] = corones_df_aux2_melted["Unitats"].astype("int64")
corones_df_aux2_melted = corones_df_aux2_melted.rename(columns={"Unitats":"Valor"})
corones_df = pd.concat([corones_df_aux1, corones_df_aux2_melted], axis=0)
corones_df = corones_df.rename(columns={"Província":"GEO"})

corones_df

C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\1831708880.py:16: RuntimeWarning: invalid value encountered in scalar divide
  return weighted_sum / sum_peso
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\2606218670.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  corones_df_aux2 = df_final[["Any","Corones","Tipologia", "GEO", "Unitats"]].drop_duplicates(["Any","Corones","Tipologia", "GEO", "Unitats"]).groupby(["Any", "Corones", "Tipologia"]).sum().reset_index()
C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\2606218670.py:3: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  corones_df_aux2_melted = pd.melt(corones_df_aux2, id_vars=["Any", "Tipologia", "Corones"], var_name="Variable", value_name="Unitats")

,Any,Tipologia,Variable,Corones,Valor
0,2019,HABITATGES PLURIFAMILIARS,Preu de venda per m² útil (€),Barcelona,7288.860000
1,2019,HABITATGES PLURIFAMILIARS,Preu de venda per m² útil (€),Cinquena Corona,2357.678899
2,2019,HABITATGES PLURIFAMILIARS,Preu de venda per m² útil (€),Municipis de l'Àmbit territorial Camp de Tarra...,1895.378676
3,2019,HABITATGES PLURIFAMILIARS,Preu de venda per m² útil (€),Municipis de l'Àmbit territorial Comarques Gir...,2616.410334
4,2019,HABITATGES PLURIFAMILIARS,Preu de venda per m² útil (€),Municipis de l'Àmbit territorial Ponent. Lleida,1955.006211
...,...,...,...,...,...
250,2023,HABITATGES UNIFAMILIARS,Unitats,Àrea turística Costa Daurada Nord. Tarragona,22.000000
251,2023,TOTAL HABITATGES,Unitats,Àrea turística Costa Daurada Nord. Tarragona,214.000000
252,2023,HABITATGES PLURIFAMILIARS,Unitats,Àrea turística del Delta de l’Ebre. Tarragona,10.000000
253,2023,HABITATGES UNIFAMILIARS,Unitats,Àrea turística del Delta de l’Ebre. Tarragona,6.000000
254,2023,TOTAL HABITATGES,Unitats,Àrea turística del Delta de l’Ebre. Tarragona,16.000000

In [9]:
index_corones = maestro_corones["Corones"].unique()
corones_23_22 = corones_df[(corones_df["Any"].isin([2022, 2023]))]
corones_23_22 = corones_23_22.sort_values(["Any", "Tipologia", "Variable"])
corones_pivoted = pd.pivot(corones_23_22, index="Corones", columns=["Any","Tipologia", "Variable"], values="Valor")
corones_pivoted = corones_pivoted.reindex(index_corones)
corones_pivoted

writer = ExcelWriter("Z:/ESTUDIS/Estudi d'oferta/2023/2S 2023/" + 'Corones i arees turístiquesv1.xlsx')
corones_pivoted.to_excel(writer, 'Corones metropolitanes',engine='xlsxwriter')
writer.save()

C:\Users\joana.APCE\AppData\Local\Temp\ipykernel_20612\668529170.py:10: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()